<html>
    <body>
        <%- include('header') %>
        <% messages.forEach((message) => { %>
            <div style="border: 1px solid black; border-radius: 10px; padding: 10px; margin: 10px;">
                <p style="font-weight: 800;">From <%= message.name %> </p>
                <p><%= message.message %></p>
                <p style="font-size: 12px;"><%= message.timestamp %></p>
            </div>
        <% }); %>
    </body>
</html>